.about-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 85%;
  max-width: 1200px;
  padding: 2rem;
  padding-bottom: 2rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  background-color: mistyrose;
  border-radius: 1rem;
}

.about-container img {
  width: 45%;
  max-width: 230px;
  border-radius: 50%;
}

.about-container p {
  font-size: 14px;
  max-width: 55ch;
  margin-inline: auto;
}

.about-container a {
  font-weight: bold;
  text-decoration: none;
}

.about-container a:hover {
  text-decoration: underline;
}

@media (min-width: 700px) {
  .about-container h3 {
    font-size: 22px;
  }
  .about-container p {
    font-size: 16px;
  }
}