.city-container {
  display: flex;
  flex-direction: column;
  color: lightcoral;
  width: 85%;
  max-width: 975px;
  margin: 0 auto;
  padding: 1rem 1rem;
  padding-bottom: 2rem;
  background-color: mistyrose;
  border-radius: 15px;
  box-shadow: 0px 0px 15px mistyrose;
}
.backBtn-container{
  align-self: flex-start;
}

.backBtn {
  border-style: none;
  border-radius: 7px;
  color: mistyrose;
  background-color: lightcoral;
  padding: 6px 9px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.backBtn:hover {
  color: rgb(243, 181, 172);
  background-color: rgb(221, 126, 126);
}

.city-container h2 {
  margin: 0 auto;
}

.city-container .icon {
  width: 100px;
  height: 100px;
}

.city-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.city-column1,
.city-column2 {
  width: 50%;
}

p {
  margin: 0 auto;
}

@media (min-width: 700px) {
  .city-container {
    max-width: 760px;
    padding: 1rem 1.5rem 3.5rem 1.5rem;
  }
  .backBtn {
    font-size: large;
    padding: 6px 11px;
  }
  .city-container h2 {
    font-size: xx-large;
  }
  .city-container .icon {
    width: 120px;
    height: 120px;
    padding: 1rem;
  }
}