.city-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: 2rem;
  background-color: mistyrose;
  border-radius: 1rem;
}

.backBtn {
  align-self: flex-start;
  border: none;
  border-radius: .5rem;
  color: mistyrose;
  background-color: lightcoral;
  padding: 0 6px;
  font-size: 1.25rem;
  cursor: pointer;
  transition-duration: 0.4s;
}
.backBtn:hover {
  color: rgb(243, 181, 172);
  background-color: rgb(221, 126, 126);
}

.city-info {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: 100%;
}

@media (min-width: 700px) {
  .city-container {
    max-width: 800px;
    padding: 2rem;
    padding-bottom: 3rem;
  }
  .city-container h2 {
    font-size: 2rem;
  }
  .city-info {
    flex-direction: row;
  }
  .city-column1,
  .city-column2 {
    width: 50%;
  }
}