.container {
  width: 90%;
  max-width: 975px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  background-color: pink;
  padding-bottom: 1.5rem;
  margin-bottom: 30px;
}

.container a {
  text-decoration: none;
}

.title {
  font-family: 'Poppins';
  font-weight: 900;
  font-size: x-large;
  color: lightcoral;
  margin-top: 1.5rem;
}

.about {
  font-weight: 800;
  font-size: large;
  color: lightcoral;
  margin: 1rem;
}

.searchbar {
  margin: 5px 0;
}

@media (min-width: 545px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .navbar {
    padding: 1rem 0;
  }
  .title {
    font-size: x-large;
    margin: 0;
    order: 1;
  }
  .about {
    order: 3;
    margin: 0;
  } 
  .searchbar {
    margin: 0;
    order: 2;
  }
}
