.searchInput {
  width: 180px;
  border: 1.5px solid lightcoral;
  border-radius: 5px;
  color: lightcoral;
  background-color: mistyrose;
  font-family: Poppins;
  font-weight: 400;
  padding: 2px 8px;
  outline: none;
}
.searchInput::placeholder {
  color: rgb(240, 128, 128, 0.6);
}

.searchBtn {
  margin-left: 2px;
  color: lightcoral;
  background-color: mistyrose;
  border: 1.5px solid lightcoral;
  border-radius: 5px;
  cursor: pointer;
  font-family: Poppins;
  font-weight: 400;
  padding: 2px 6px;
  transition-duration: 0.4s;
}

@media(hover: hover) and (pointer: fine) {
  .searchBtn:hover {
    color: mistyrose;
    background-color: lightcoral;
  }
}

@media (min-width: 700px) {
  .searchInput {
    width: 220px;
  }
}